<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Lichain_home</title>
</head>
<body style="background-color:#F7F9F9">

      <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">
        <img src="static/cuadro.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Lichain
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/logout">Cerrar Sesión <span class="sr-only">(current)</span></a>
                </li>
               </ul>
            </form>
          </div>
    </nav>
    <br><br>

    <center>

    <table class="egt">

         <tr>
            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/user.png" width="100" height="120" class="d-inline-block align-top" alt="">
                </a>
            </td>
            <td>
                Usuario_admin: {{ session['NOMBRE'] }}
                 <br>{{ session['EMPRESA'] }}
                 <br>{{ session['LIC_ACTIVAS'] }}

            </td>
          </tr>

    </table>

      <table class="egt">

          <tr>

            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/registro.png" width="90" height="90" class="d-inline-block align-top" alt="">
                </a>
            </td>

            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/activar.png" width="120" height="60" class="d-inline-block align-top" alt="">
                </a>
            </td>

            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/consultar.png" width="90" height="90" class="d-inline-block align-top" alt="">
                </a>
            </td>
            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/validar.png" width="90" height="90" class="d-inline-block align-top" alt="">
                </a>
            </td>
          </tr>

          <tr>
            <td><h6>Registro</h6></td>
            <td><h6>Activar Licencia</h6></td>
            <td><h6>Consultar</h6></td>
            <td><h6>Validar</h6></td>
          </tr>

          <tr>

            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/carrito.png" width="90" height="90" class="d-inline-block align-top" alt="">
                </a>
            </td>

            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/certificado.png" width="90" height="90" class="d-inline-block align-top" alt="">
                </a>
            </td>

            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/soporte.png" width="90" height="90" class="d-inline-block align-top" alt="">
                </a>
            </td>

            <td>
                <a class="btn btn-light" href="#" role="button">
                    <img src="static/informe.png" width="90" height="90" class="d-inline-block align-top" alt="">
                </a>
            </td>

          </tr>

          <tr>
            <td><h6>Comprar Licencia</h6></td>
            <td><h6>Certificado</h6></td>
            <td><h6>Soporte</h6></td>
            <td><h6>Informe</h6></td>
          </tr>

        </table>
    </center>
<br><br>
    <div class="container-fluid">

     <p><a href="#" class="text-dark">Acerca de Nosotros</a></p>
     <script type="text/javascript">
        var mm = new Date();
        var m2 = mm.getMonth() + 1;
        var mesok = (m2 < 10) ? '0' + m2 : m2;
        var mesok = new Array(12);
        var dia = new Array(7);
        mesok[0]="Enero";
        mesok[1]="Febrero";
        mesok[2]="Marzo";
        mesok[3]="Abril";
        mesok[4]="Mayo";
        mesok[5]="Junio";
        mesok[6]="Julio";
        mesok[7]="Agosto";
        mesok[8]="Septiembre";
        mesok[9]="Octubre";
        mesok[10]="Noviembre";
        mesok[11]="Diciembre";
        dia[0]="Domingo";
        dia[1]="Lunes";
        dia[2]="Martes";
        dia[3]="Miercoles";
        dia[4]="Jueves";
        dia[5]="Viernes";
        dia[6]="Sabado";
        document.write("Hoy es: " + dia[mm.getDay()]," , " + mesok[mm.getMonth()]," " + mm.getDate()," " + mm.getFullYear() );
    </script>
    </div>
</body>
</html>