{% extends 'layout.html' %}
{% block title %} Register_ent {% endblock %}
{% block content %}
    <style>
      html,body {
	height: 100%;
    }

    .global-container{
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f5f5f5;
    }

    form{
        padding-top: 10px;
        font-size: 14px;
        margin-top: 30px;
    }

    .card-title{ font-weight:300; }

    .btn{
        font-size: 14px;
        margin-top:20px;
    }


    .login-form{
        width:330px;
        margin:20px;
    }

    .sign-up{
        text-align:center;
        padding:20px 0 0;
    }

    .alert{
        margin-bottom:-30px;
        font-size: 13px;
        margin-top:20px;
    }
    </style>
    <!-- Custom styles for this template -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <a class="navbar-brand" href="/">
    <img src="static/cuadro.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Lichain
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
       <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Acerca de nostros <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="#"> Contactos <span class="sr-only">(current)</span></a>
              </li>
            </ul>
       </div>
    </form>
  </div>
</nav>


<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Registro Entidad</h3>
		<div class="card-text">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
			<form action="/register_ent" method="POST">
				<table><!-- to error: add class "has-danger" -->
					<tr>
						<td>
							<div class="form-group">
								<label for="exampleInputEmail1">Nombre Entidad</label>
								<input type="varchar(80)" class="form-control form-control-sm" name="N_ENTIDAD">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label> Nic </label>
								<input type="int" class="form-control form-control-sm" name="NIC">
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="form-group">
								<label> email </label>
								<input type="email" class="form-control form-control-sm" name="E_EMAIL">
							</div>
						</td>
						<td>
							<div class="form-group">
								<label> País </label>
								<input type="varchar(50)" class="form-control form-control-sm" name="E_PAIS">
							</div>
						</td>

					</tr>
					<tr>
						<td>
							 <div class="form-group">
								 <label for="exampleInputPassword1">Provincia</label>
								 <input type="varchar(50)" class="form-control form-control-sm" name="E_PROVINCIA">
							 </div>
						</td>
						<td>
							 <div class="form-group">
								 <label>Ciudad</label>
								 <input type="varchar(50)" class="form-control form-control-sm" name="E_CIUDAD">
							 </div>
						</td>

					</tr>
					<tr>
						<td>
							 <div class="form-group">
								 <label>Dirección</label>
								 <input type="varchar(50)" class="form-control form-control-sm" name="E_DIRECCION">
							 </div>
						</td>
						<td>
							 <div class="form-group">
								 <label>Cant. Licencias</label>
								 <input type="int" class="form-control form-control-sm" name="NUM_LICENCIAS">
							 </div>
						</td>
					</tr>
					<tr>
						<td>

						</td>
					</tr>


				</table>

				<button type="submit" class="btn btn-primary btn-block">Crea Solicitud</button>

			</form>
		</div>
	</div>
</div>
</div>

{% endblock %}